source "drivers/input/touchscreen/xiaomi/synaptics_dsx_force/Kconfig"
source "drivers/input/touchscreen/xiaomi/fts_521/Kconfig"
source "drivers/input/touchscreen/xiaomi/nt36xxx_mi/Kconfig"
source "drivers/input/touchscreen/xiaomi/ft5x46/Kconfig"
source "drivers/input/touchscreen/xiaomi/focaltech_touch_mi/Kconfig"

config INPUT_PRESS_NDT
	bool "ndt"
	default n
	depends on I2C
	help
	  Say Y here if you have a press ic ndt.

config INPUT_PRESS_NDT_F60
	bool "ndt f60"
	depends on INPUT_PRESS_NDT
	help
	  Say Y here if you have a press ic ndt.

config INPUT_PRESS_NDT_M65
	bool "ndt m65"
	depends on INPUT_PRESS_NDT
	help
	  Say Y here if you have a press ic ndt.

config TOUCHSCREEN_ATMEL_MXT_MI
	tristate "Atmel mXT I2C Touchscreen"
	depends on I2C
	select FW_LOADER
	help
	  Say Y here if you have Atmel mXT series I2C touchscreen,
	  such as AT42QT602240/ATMXT224, connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called atmel_mxt_ts.
